.calculator-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(31, 31, 31);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

.display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: white;
  background-color: rgb(31, 31, 31);
}

.keys-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(86, 84, 84);
  border: none;
  color: rgb(247, 246, 246);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;

}

