body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(31, 31, 31);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

.display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  outline: none;
  color: rgb(28, 38, 148);
  background-color: rgb(31, 31, 31);
}

.btns {
  display: grid;
  padding: 25px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.btns button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(86, 84, 84);
  border: none;
  color: rgb(247, 246, 246);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;

}

.btns button:hover {
  opacity: 60%;
}

.btns button:active {
  opacity: 10%;
}

.opp-btn {
  background-color: rgb(28, 38, 148);
}
@media (max-width: 400px) {
  .display {
    font-size: 2rem;
    padding: 10px;
  }
.btns button {
  width: 80px;
  padding: 15px;
  font-size: 2rem;
}

.calculator-container {
  max-width: 390px;
}

.btns button:hover {
  opacity: 50%;
}

.btns button:active {
  opacity: 10%;
}
}